.header {
  color: white;
  padding: 50px;

  display: flex;
  flex-direction: column;
  align-content: space-around;

  background: url('https://i.ibb.co/MZRXqr5/bg-icons.png') repeat;
}

.greetings, .name, .job-title {
  margin: 0;
  font-weight: normal;
}

.greetings {
  font-style: italic;
  font-size: 18px;
}

.name { 
  font-size: 48px;
  font-weight: bold;
}
.name::after { content: "!"; } 

.job-title { 
  font-style: italic;
  color: #ffff00; 
}